.addMenuItem__container {
  margin: 5vh 10vw;
}

.addMenuItem__title {
  font-weight: 500;
  font-size: 18px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.addMenuItem__inputContainer {
  display: flex;
  align-items: baseline;
  width: 35vw;
  min-width: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.addMenuItem__inputLabel {
  flex: 0.2;
  font-size: 12px;
  font-weight: bold;
}

.addMenuItem__inputBody {
  flex: 0.8;
}