.loadingIndicator__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #0000007a;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}