.menu__upperRowContainer {
  display: flex;
  justify-content: space-between;
  margin: 4vh 10vw 2vh 10vw;
}

.menu__upperRowContainer__identifier {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.menu__itemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__noItemsHint {
  margin: 10vh 10vw;
  font-size: 18px;
  font-weight: bold;
}